/*

!.gitignore
!.htaccess

!sites
sites/*
!sites/all
sites/all/*
!sites/all/themes
sites/all/themes/*
!sites/all/themes/bootstrap_ofbi/

!sites/default
sites/default/*
!sites/default/settings.php_TEMPLATE

!sites/all
sites/all/*
!sites/all/modules
sites/all/modules/*
!sites/all/modules/mwi
sites/all/modules/mwi/*
!sites/all/modules/mwi/mwi.config_TEMPLATE

