/*

!.gitignore
!LocalSettings.php_TEMPLATE

!extensions/
extensions/*
!extensions/OffeneBibel/
!extensions/di/
extensions/di/*
!extensions/di/iwDrupalConfig.php_TEMPLATE

!skins/
skins/*
!skins/OffeneBibel/


