@font-face {
  font-family: 'OfBi';
  src: url('/static/fonts/Ubuntu-R-derivative-OfBi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
    position: relative;
    font-family: 'Open Sans', 'OfBi', 'sans-serif';
    margin: 0;
    padding: 0;
    width: 100%;
/*     min-width: 45em; */
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans', 'OfBi', 'sans-serif';
    border-bottom: 1px solid #C0D9AF;
}
h1 { font-size: 188%; color: #69A54F; }
h2 { font-size: 150%; }
h3, h4, h5, h6 {
    border-bottom: none;
    line-height: 1.5em;
}
h3 { font-size: 140%; }
h4 { font-size: 130%; }
h5 { font-size: 120%; }
h6 { font-size: 110%; }


/* Scripture specifics */
.scripture {
}

.scripture_study {
    font-size: 85%;
}

.verse_num {
    vertical-align: super;
    font-size: 70%;
    color: #AAAAAA;
}

.alternative {
    /*display: none;*/ /* Do this to hide alternatives */
    font-size: 90%;
    color: #777777;
}

.omission {
    font-size: 90%;
    color: #777777;
    text-decoration:line-through;
}

.insertion-start,.insertion-end {
    color: #BBBBBB;
}

.ofbi-schalter {
    color: #69A54F;
}
/*.ofbi-schalter {position: relative; top:-0.1em; padding: 0 0.1em 0.2em 0.1em; margin:0 -0.1em; border-radius: 0.5em; background-color : #f6f3f0;}
.ofbi-schalter span {position: relative; top:0.1em; color : black; border-bottom : 1px solid #dcb; padding: 0 0.1em; white-space : nowrap;}
.name {
  font-family: "OfBi-Hebrew", "Ezra SIL", "Ezra SIL SR", "SBL Hebrew", "Times New Roman", serif;
}
.name span {
    font-family: 'Open Sans', 'OfBi', 'sans-serif';
}*/



.ofbi-replacements > div {
    float: left;
    padding: 0.5em 1em 0.5em 0em;
}

.ofbi-replacements ~ p {
    clear: left;
}

.ofbi-popover-dynamic-width {
    width: auto;
    max-width: none;
}

/* Header and footer tunings */

.ofbi_no_header h2.pane-title,
.ofbi_no_header div.pane-content>div.node>h2
{
    display: none;
}

.ofbi_hr {
    height: 1px;
    color: #C0D9AF;
    background-color: #C0D9AF;
    border: 0;
    margin: 0.2em 0 0.2em 0;
}

#header-image, #header-image-notext {
    vertical-align: top;
    margin-top: -5px;
    height: 42px;
}

.ofbi-dropdown-menu > li > b {
    padding: 3px 20px;
}

.ofbi-dropdown-menu > li > a, .ofbi-dropdown-menu > li > form {
    padding: 3px 40px;
}
.ofbi-dropdown-menu > li > table {
    margin: 3px 40px;
}
.ofbi-dropdown-menu > li > form {
    min-width: 15em; 
}

.btn-primary {
    color: #FFF;
    background-color: #69b050;
    border-color: #66ab4e;
}

.btn-primary:hover {
    background-color: #539a3a;
    border-color: #539a3a;
}

    html, body, #wrap {
        width: 100%;
        height: 100%;
    }
    
    #wrap {
        display: flex;
        flex-direction: column;
    }
    
    main {
        position: relative;
        flex: 1 1 auto;
        overflow: auto;
        padding-top: 3em;
    }

/* Fixes for the options menu. Buttons in dropdowns don't work, since environment is position:absolute'd, so they always wrap. */
    .ofbi-dropdown-menu>li>div {
        padding: 3px 20px;
        white-space: nowrap;
    }

    #options-menu {
        width:322px;
    }

/* Tuning to allow bigger logo in header menu */
    #ofbi-navbar-large-logo {
        padding-top:10px;
        padding-bottom:0px;
    }

/* No hover underline in header */
    .ofbi-navbar .ofbi-navbar a:hover {
        border-bottom: none;
    }

    .ofbi-navbar-brand {
        font-size: 200%;
    }

/* Fixes required for the two multi column dropdown menus in the header. */
    .ofbi-dropdown-menu.multi-column {
        min-width: 400px;
    }
    [data-toggled='true'] .ofbi-dropdown-menu.multi-column {
        min-width: 0;
    }

    .ofbi-dropdown-menu.multi-column .ofbi-dropdown-menu {
        display: block !important;
        position: static !important;
        margin: 0 !important;
        border: none !important;
        box-shadow: none !important;
    }

    .ofbi-navbar .ofbi-dropdown-toggle, #ofbi-navbar-toggle {
        line-height: 20px;
        padding: 15px 8px;
        font-size: 130%;
        color: #69A54F;
    }

    .ofbi-dropdown-toggle, #ofbi-navbar-toggle {
        display: block;
        position: relative;
    }
    
    #ofbi-navbar-toggle {
        display: inline-block;
        border: 1px solid #ddd;
        padding: 11px 3px;
        margin: 3px 11px;
    }
    
/* CSS replacements for bootstrap functionality */

     .ofbi-dropdown {
         position: relative;
     }
     
     .ofbi-dropdown:hover>.ofbi-dropdown-menu, [data-hasfocus]>.ofbi-dropdown-menu,
     [data-toggled='true'] .ofbi-dropdown, [data-toggled='true'] .ofbi-dropdown-menu, [data-toggled='true'] #ofbi-navbar-toggle-container {
         display: block !important;
         visibility: visible !important;
     }
     [data-toggled='true'] .ofbi-dropdown, [data-toggled='true'] .ofbi-dropdown-menu, [data-toggled='true'] #ofbi-navbar-toggle-container {
        position: static;
        float: none !important;
     }

    .ofbi-dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
/*         min-width: 160px; */
        margin: 0;
        padding: 5px 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 0 0 4px 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
    .ofbi-dropdown-right>.ofbi-dropdown-menu {
        left: auto;
        right: 0;
    }
    .ofbi-navbar .ofbi-dropdown-right:last-child>.ofbi-dropdown-menu {
        margin-top: -2px;
        max-width: 100%;
    }
    
    .ofbi-dropdown-menu > li > a {
        display: block;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
    }
    
    :hover>.ofbi-dropdown-toggle, ul li.ofbi-dropdown a:hover, ul li.ofbi-dropdown a:focus, [data-hasfocus]>.ofbi-dropdown-toggle, [data-toggled='true'] #ofbi-navbar-toggle, :hover>#ofbi-navbar-toggle {
        color: #000;
        background-color: #e7e7e7;
        border-bottom: 0;
    }

    .ofbi-nav > .ofbi-dropdown-right {
        float: right;
    }
    .ofbi-nav > .ofbi-dropdown-right:last-child {
        position: static;
    }
    #ofbi-navbar-logo-container {
        float: left !important;
    }
    #ofbi-navbar-toggle-container {
        float: right !important;
        text-align: right;
    }
    [data-toggled='true'] #ofbi-navbar-toggle-container::after {
        content: '';
        display: block;
        clear: both;
    }
    .ofbi-nav {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        position: relative;
    }
    .ofbi-nav::after {
        content: '';
        display: block;
        clear: both;
    }
    .ofbi-navbar {
        background-color: #f8f8f8;
        border: 1px solid #e7e7e7;
        border-width: 0 0 1px;
        border-radius: 4px;
    }
    .ofbi-nav > li {
        float: left;
        position: relative;
        display: block;
    }
    .ofbi-navbar-header {
        float: left;
    }
    .ofbi-navbar-brand {
        font-size: 200%;
        display: inline-block;
        height: 50px;
        padding: 15px 15px;
        font-size: 18px;
        line-height: 20px;
    }
    .ofbi-dropdown-menu .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }

    #ofbi-auth-logged-in-name {
        position: relative;
        max-width: 7em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
